**/.vscode/**

# Visual Studio 2015/2017 cache/options directory
.vs/

Java/instances/Magical_Friends_Limitless/.minecraft/saves/**
Java/instances/Magical_Friends_Limitless/.minecraft/logs/**
Java/instances/Magical_Friends_Limitless/.minecraft/crashreports/**
Java/instances/Magical_Friends_Limitless/.minecraft/usercache.json
Java/multimc.cfg
Java/instances/_LAUNCHER_TEMP_/**
Java/instances/Magical_Friends_Limitless/.minecraft/XaeroWaypoints/**
Java/instances/Magical_Friends_Limitless/.minecraft/XaeroWorldMap/**
Java/instances/Magical_Friends_Limitless/.minecraft/launcher_profiles.json
Java/instances/Magical_Friends_Limitless/.minecraft/.fabric/processedMods/**
Java/instances/Magical_Friends_Limitless/.minecraft/local/ftbchunks/data/**
Java/instances/Magical_Friends_Limitless/.minecraft/XaeroWaypoints_BACKUP*/**
*.disabled